 @charset "utf-8";

 
 h1{
		font-family: "Times New Roman" , Times, serif;
		text-shadow: 2px 2px 5px gray;
}
/*--------------header---------------------------------*/
body{
		font-family: 'Open Sans', sans-serif;
		position: relative;
	}
.header {
    position: relative;
    padding: 1px;
    border: 1px solid;
    width: auto;
    background-color: #1e0b4a;
}    
.v {
        position: relative;
        font-family: Calibri, Arial, sans-serif;
        text-indent: 300px;
        padding: 8px;
        position: relative;
        color: white;
        font-size: 30px;
 }

.topnav {
		position: relative;
		overflow: hidden;
		margin: 1% 0 1%;
}

    
.topnav a {
        float: left;
        color: white;
        text-align: center;
        padding: 14px 50px ;
        text-decoration: none;
        font-size: 30px;
        font-family: Calibri, Arial, sans-serif;
    }

.top-right {
    position: relative;
    float: right;
}


.topnav a:hover {
    background-color: rebeccapurple;
    color: white;
}

.topnav a.active {
    position: relative;
    background-color: #0761ab;
    color: white;
}


.header img {
    float: left;
    width: 150px;
    height: 150px;
    position: relative;
    margin: 30px 30px 30px 30px;
}

.header h1 {
    font-family: Calibri, Arial, sans-serif;
    font-size: 90px;
    position: relative;
    text-align: center;
    margin: 2px;
    top: 35px;
    left: -100px;
    color: white;
}


 /*--------------------slide show------------------------*/
  
.mySlides {display: none;}

/* Slideshow container */
.slideshow-container {
  width: 650px;
  position: center;
  margin: auto;
}

/* Number text*/
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 15px ;
  position: relative;
  top: 40px;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*-------------------shows images----------------------*/

div.gallery {
  margin: 33px 160px 0 0;
  border: 2px solid black;
  float: left;
  width: 300px;
  height : 670px ;
}

div.gallery img {
   width: 300px;
   height: 300px;;
}

div.desc {
  position: relative;
  bottom: 3px;
  padding: 30px;
  text-align: center;
  background-image: linear-gradient(to bottom right, #99ccff, #ffffb3);
}

/*-----------------Buttons------------------------*/

.button:link, button:visited  {
	position: relative;
	bottom: 43px;
	background-color: #85a3e0;
	padding: 1px 108px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border : 1px solid  #3366cc ;
}

.button:hover, button:active {
	background-color: #4d4dff;}

/*---------------like button-----------------------*/
.material-icons{
	position : relative;
	left:100px ;
	bottom : 10px ;
	background-color : transparent ;
	border : none ;
}

.material-icons : hover{
	background-color : transparent ;
	border : none ;
}
 
/*-------------------footer-------------------------------*/
.footer {
    position: relative;
    color: rgb(8, 8, 8);
    background: #7721a6;
    margin: 500px 0 0 0;
    height: 70px;
    width: 100%;
    padding: 1px;
    text-align: right;
    font-weight: bolder;

}
.panvoting {
    margin-right: 28px;
    text-align: right;
    font-size: 40px;
    margin-top: 5px;
    position: relative;
    font-family: Calibri, Arial, sans-serif;
    color: white;
    text-shadow: 4px 4px #000000;
}
.footdown {
    position: relative;
    padding: 1px;
    background: #0761ab;
    height: 200px;
    width: 100%;
    text-decoration: none;
}
.footcate {
    text-decoration: none;
    text-align: left;
    padding: 11px;
    color: #705c9e;
    font-family: Calibri, Arial, sans-serif;
    font-size: 27.5px;
    position: relative;
}

.footcate:link  {
    text-decoration: none;
    text-align: left;
    padding: 11px;
    color: #705c9e;
    font-family: Calibri, Arial, sans-serif;
    font-size: 27.5px;
    position: relative;
}

.footcate:hover{
    color: rgb(1, 1, 146);
}
.copyrighted {
    font-weight: 100;
    font-size: 20px;
    text-align: center;
    margin: 700px 0 0 0;
    position: relative;
    color: white;
    font-family: Calibri, Arial, sans-serif;
}

.google {
    width: 193px;
    text-decoration: none;
    float: left;
    margin: 500px 0 500px;
    position: relative;
}
.google:hover{
    background-color: rgb(9, 12, 53);
    color: rgb(132, 132, 240);
}

.twitter {
    width: 193px;
    text-decoration: none;
    float: left;
    margin: 500px 0 500px;
    position: relative;
}
.twitter:hover{
    background-color: rgb(9, 12, 53);
    color: rgb(132, 132, 240);
}

.facebook {
    width: 196px;
    text-decoration: none;
    float: left;
    margin: 500px 0 500px;
    position: relative;
}
.facebook:hover{
    background-color: rgb(9, 12, 53);
    color: rgb(132, 132, 240);
}
.right{
    float:right;
}
.bot{
    font-size:12px;
}
 

