body{
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(56, 129, 197, 0.938);
    position: relative;
}

.header {
    position: relative;
    padding: 1px;
    border: 1px solid;
    width: auto;
    background-color: #1e0b4a;
}    
    h2 {
            position: relative;
            font-family: Calibri, Arial, sans-serif;
            text-indent: 300px;
            padding: 8px;
            position: relative;
            color: white;
            font-size: 30px;
     }
    
    .topnav {
        position: relative;
        overflow: hidden;
        margin: 1% 0 1%;
    }
    
        
    .topnav a {
        position: relative;
            float: left;
            color: white;
            text-align: center;
            padding: 14px 50px ;
            text-decoration: none;
            font-size: 30px;
            font-family: Calibri, Arial, sans-serif;
        }
    
    .top-right {
        position: relative;
        float: right;
    }
    
    
    .topnav a:hover {
        background-color: rebeccapurple;
        color: white;
    }
    
    .topnav a.active {
        position: relative;
        background-color: #0761ab;
        color: white;
    }
    
    
    .header img {
        position: relative;
        float: left;
        width: 150px;
        height: 150px;
        position: relative;
        margin: 30px 30px 30px 30px;
        border-radius: 50%;
    }
    
    .header h1 {
        position: relative;
        font-family: Calibri, Arial, sans-serif;
        font-size: 90px;
        position: relative;
        text-align: center;
        margin: 2px ;
        top: 35px;
        left: -100px;
        color: white;
    }
.title{
    position: relative;
    display: flex;
    color: white;
    flex-direction: column;
    font-size: 30px;
    border-radius: 100px; 
    border-color: black;
    background: black;
    width: 450px;
    margin: auto;
    padding: 10px;
    border: 2px solid;
     
}

.error{
   position: relative;
    background-color: red;
    width: 400px;
    font-weight: 900;
    padding: 5px;
    
}

.user{
    position: relative;
  border-radius: 50%;
  width: 150px;
  height:150px;
  border: 3px solid #555;
}

.form1{
    position: relative;
    border-color: black;
    background: rgba(157, 163, 223, 0.664);
    width: 700px;
    margin: auto;
    padding: 50px;
    border: 2px solid;
    border-radius: 5px;
}
.EPname{
    font-size: 18px;
    font-weight: 600;
}
.EPenter{
    font-size: 10px;
    width: 460px;
    height: 25px;
    position: absolute;
}
.eye{
    position: absolute;
    margin-left: 62%;
    margin-top: 5px;
   cursor: pointer;
}
#hide1{
    display: none;
}
.checkbname{
    font-size: 13px;
    font-weight: 600;
    color: rgb(43, 41, 41);
    text-decoration: none;
    cursor: pointer;
}
.checkb{
   margin-left: 120px;
    cursor: pointer;
}

.forgot{
    text-align: right;
    margin-right: 20px;
    color: rgb(1, 1, 175);
    font-size: 13px;
    text-decoration: none;
    list-style-type:none;
    font-weight: 700;
}
.forgot:hover{
    color: rgb(5, 21, 172);
}
.stayre{
    font-size: 10px;
    margin-left: 120px;
}
.button1{
    border-radius: 100px;
    width: 130px;
    padding: 9px;
    background-color:rgb(24, 47, 151);
    color: rgb(255, 255, 255);
    font-weight: bolder;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}
.button1:hover{
    background-color: rgb(0, 17, 248);
    color: rgb(188, 188, 255);
}

.new{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 23px;
    color: black;
}
.Regname{
    color: black;
    font-size: 13px;
    font-weight: 600;
}
.Regemail{
    color: black;
    font-size: 13px;
    font-weight: 600;
}
.Regpaswrd{
    color: black;
    font-size: 13px;
    font-weight: 600;
}
.Regrepaswrd{
    color: black;
    font-size: 13px;
    font-weight: 600;
    
}
.Regnameenter{
    font-weight: 500;
    font-size: 10px;
    width: 435px;
    height: 25px;
}
.Regemailenter{
    font-weight: 500;
    font-size: 10px;
    width: 435px;
    height: 25px;
}
.Regpaswrdenter{
    font-weight: 500;
    font-size: 10px;
    width: 435px;
    height: 25px;
}
.Regrepaswrdenter{
    font-weight: 500;
    font-size: 10px;
    width: 435px;
    height: 25px;
    position: absolute;
}  
.eye1{
    position: absolute;
    margin-left: 59%;
    margin-top: 5px;
   cursor: pointer;
}
#hide3{
    display: none;
}
.button2{
    margin-left: 450px;
    border-radius: 100px;
    width: 100px;
    padding: 9px;
    background-color:rgb(24, 47, 151);
    color: white;
    font-weight: bolder;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    
}

.button2:hover{
    background-color: rgb(0, 17, 248);
    color: rgb(188, 188, 255);
}
#myVideo {
    object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
 
  }
.footer{
    position: relative;
    left: 0;
    bottom: 0;
    color: rgb(8, 8, 8);
    font-size: 20px; 
    background: rgba(188, 56, 214, 0.808);
    width: 100%;
    margin: auto;
    height: 9%;
    padding: 1px;
    text-align:right;
    font-weight: bolder;
}
.panvoting{
    margin-right: 22px;
}
.footdown{
   
    position: relative;
    text-align: right;
    padding: 2px;
    background: rgba(15, 154, 219, 0.897);
    width: 100%;
    margin: auto;
    height: 17%;
    text-decoration: none;
    
}
.footcate{
    position: relative;
    text-decoration: none;
    text-align: left;
    margin-left: 23px;
    margin-top: 35px;
    color: white;
    font-weight: bold;
}
.footcate1:hover{
    color: rgb(1, 1, 146);
}
.copyrighted{
    font-weight: 100;
    font-size: 13px;
    color: white;
}

.google{

    border-radius: 10px;
    width: 188px;
    font-size: 11px;
    text-decoration: none;
    padding: 10px;
    background-color: white;
    float: left;
    border: 2px solid;
    border-color: black;
    margin-right: 5px;
}
.google:hover{
    background-color: rgb(9, 12, 53);
    color: rgb(132, 132, 240);
}

.twitter{
    border-radius: 10px;
    width: 193px;
    font-size: 11px;
    text-decoration: none;
    padding: 10px;
    background-color: white;
    float: left;
    border: 2px solid;
    border-color: black;
    margin-right: 5px;
}
.twitter:hover{
    background-color: rgb(9, 12, 53);
    color: rgb(132, 132, 240);
}
.ico{
    float:right;
   
}
.facebook{
    float:right;
    border-radius: 10px;
    width: 196px;
    font-size: 11px;
    text-decoration: none;
    padding: 10px;
    background-color: white;
    float: left;
    border: 2px solid;
    border-color: black;
    margin-right: 5px;
}
.facebook:hover{
    background-color: rgb(9, 12, 53);
    color: rgb(132, 132, 240);
}




